@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/***** Headings & Main Settings *******/

h1 {
  font-size: 60px;
  line-height: 64px;
  color: #CC3366;
  padding-bottom: 20px;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-prod {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

 #header {  
   display: flex;
   align-items:center;
   justify-content: space-between;
   padding: 20px 80px; 
   box-shadow: 0 5px 15px rgba(0,0,0,0.2);   
   background: white;
   position: sticky;
   z-index: 1000;
   left: 0;
   top: 0;

}

  #navbar {
      display: flex;
      align-items: center;
      justify-content: center;
}

  #navbar li{
      list-style: none;
      padding: 0 20px;
}

 #navbar li a{
      text-decoration: none;
      font-size: 18px;
      font-weight: 600;
      color: #1a1a1a;
      transition: 0.3s ease;

}

 #navbar li a:hover,
 #navbar li a.active {
    
      color: #088178;
}

  #main1 {
      background-image: url("img/flower8big.png");
      height:90vh;
      width: 100%;
      background-position: center;
      background-repeat:no-repeat;
      background-size: cover;
      //background-position: top 25% right 0;
      padding: 0 80px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

}


   #main1 button{
        background-image: url("img/brush4.png");
	color:White;
	border: 0;
	background-repeat: no-repeat;
	padding: 10px 30px 10px 35px;
	font-weight: 800;
	font-size: 35x;
}

  
   #main1 button:hover {
	color: #088178;
        
}


    #product1{
       text-align: center;
}

    #product1 h2 {
       background: rgba(255,51,153,.05);
       font-size: 3rem;
       padding: 1rem;
       margin: 2rem 0;
}

    #product1 .pro-container {
       display: flex;
   
       gap: 5rem;
       flex-wrap:wrap;
}

    #product1 .pro {
       width: 30%;
     
       min-width: 250px;
       padding: 10px 12px;
       border: 1px solid #cce7d0;
       border-radius: 25px;
       cursor: pointer;
       box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
       margin: 15px 0;
       position: relative;
}
 
    #product1 .pro img{
       width: 100%;   
       border-radius: 20px;
       height: 30rem;
}


    #product1 .pro:hover {
        box-shadow: 20px 20px 30px rgba(0,0,0,0.6);
}

    #product1 .pro .des h4 {
        padding-top: 7px;
        font-size: 15px;
        font-weight: 800;
        color: #CC3366;
}

    #product1 .pro .des h5 {
        padding-top: 7px;
        font-size: 15px;
        font-weight: 600;
      
}


     #product1 .pro  .des {
       text-align: start;
       padding: 12px 0;
     
}

     

#product1 .pro  .cart {
       position: absolute;
       line-height: 40px;
       bottom: 20px;
       right: 10px;
       width: 50px;
       height: 50px;
       font-size: 35px;
       color: #088178;   
}












